*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}


 
header  {
    display: flex;
    justify-content:  space-around;
    height: 70px;
    background-color: rgb(20, 20, 19);
    align-items: center;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
}

nav a {
    padding: 20px;
    color: white;
}

.logo h2{
    padding-left: 25px;
}

nav a:hover {
    font-weight: 600;
    color: rgb(228, 135, 22);
}
