

.faqcaja {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.faqtitulo{
 margin: 50px;   
 text-align: center ;
}

.faqsubtitulos {
    font-size: 15px;
    width: 33%;
}